@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Roboto Slab", serif;
}

/*-----------Mobile First----------*/

@media screen and (min-width: 320px) and (max-width: 991px) {
  /*---------Header---------*/

  .header_logo {
    margin: 35px 0 0 35px;
  }
  .course_duration_container {
    display: flex;
    margin: 45px 0 0 28px;
    font-size: 10px;
  }

  .globe,
  .clock,
  .calendar {
    padding: 10px;
  }

  .course_duration_container img {
    padding-right: 4px;
    width: 10px;
    height: 10px;
  }

  /*----------Section 1------------*/

  .header_1 {
    min-width: 350px;
    margin: 8px 0 0 35px;
    font-size: 40px;
  }

  .paragraph_1 {
    width:60%;
    font-size: 10px;
    margin: 35px 0 0 35px;
  }

  .film_director_1 {
    width: 142px;
    height: 166px;
    position: relative;
    left: 220px;
    z-index: 1;
  }

  .film_director_1_shadow {
    width: 160px;
    position: relative;
    left: 80px;
    top: 10px;
  }

  .quote_container {
    font-size: 0.8rem;
    background-color: #1e4681;
    min-width: 260px;
    height: 110px;
    color: #ffffff;
    margin: 40px 0 0 35px;
    border-radius: 3px;
    line-height: 20px;
  }

  .quote {
    padding: 10px;
  }

  .author_quote {
    padding-left: 125px;
    font-size: 10px;
    min-width: 130px;
  }

  /*---------Section 2----------*/

  .section_2,
  .section_3,
  .section_4,
  .section_5 {
    margin: 40px 0 0 35px;
  }

  .section_2 p {
    font-size: 12px;
    width: 90%;
  }

  .container_1 p,
  .container_2 p,
  .container_3 p,
  .section_3_container {
    font-size: 10px;
  }

  .film_director_2 {
    width: 146px;
    position: relative;
    left: 80px;
    z-index: 2;
  }

  .film_director_2_shadow {
    width: 200px;
    margin: 0 0 -10px -95px;
  }

  .section_2_footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 10px;
  }
  .section_2_footer img {
    display: none;
  }

  .container_1,
  .container_2,
  .container_3 {
    max-width: 40vw;
  }

  /*----------Section 3------------*/

  .section_3 h5 {
    color: #1e4681;
  }

  .section_3_container {
    min-width: 310px;
  }

  /*----------Section 4----------*/
  .section_4 ul {
    min-width: 300px;
    font-size: 12px;
    margin-left: -23px;
  }

  /*-----------Section 5----------*/
  .main_box {
    display: flex;
    row-gap: 25px;
    flex-wrap: wrap;
  }

  .box_1 {
    min-width: 186px;
    height: 153px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.25);
    margin-right: 38px;
  }
  .box_1 p {
    font-size: 12px;
  }

  .box_1 h5 {
    font-size: 14px;
  }

  .box_1 h5,
  .box_1 p {
    margin: 5px 7px 5px 10px;
    line-height: 20px;
  }

  /*-----------Section 6----------*/

  .section_6 {
    height: 423px;
    background: #efefef;
    margin-top: 60px;
  }

  .section_6_header {
    margin-left: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 26px;
    width: 250px;
    min-width: 50%;
  }

  .section_6_container {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 9.3px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 280px;
    height: 240px;
    margin-left: 10px;
  }
  .section_6_container p {
    padding: 10px 0 0 20px;
    width: 266px;
    height: 111.01px;
    left: 56px;
    font-weight: 400;
    font-size: 10px;
    min-width: 80%;
  }

  .section_6_container img {
    width: 95px;
    height: 90px;
    margin-left: 10px;
  }
  .section_6_container .facebook_logo {
    width: 17px;
    height: 17px;
    margin: -30px 0 0 120px;
  }

  .section_6_container h4 {
    margin: -65px 0 0 120px;
  }

  /*-----------Section 7-----------*/

  .section_7 {
    background-color: #9dc9c8;
    height: 395px;
    margin-top: -20px;
  }
  .section_7_header {
    padding: 40px 0 0 45px;
  }

  .section_7_paragraph_1 {
    font-size: 12px;
    padding: 20px 0 0 45px;
  }

  .section_7_paragraph_2 {
    font-size: 37px;
    position: relative;
    left: 45px;
    top: -25px;
  }

  .section_7_inner_container {
    display: flex;
    margin: -30px 0 0 45px;
    column-gap: 30px;
  }

  .inner_container_1_paragraph_1,
  .inner_container_2_paragraph_1 {
    font-size: 12px;
  }

  .inner_container_1_paragraph_2,
  .inner_container_2_paragraph_2 {
    font-size: 10px;
  }

  /*--------Footer--------*/

  footer {
    background-color: #000000;
    height: 250px;
  }

  .footer_logo {
    margin: 20px 20px 20px 45px;
  }

  .social_media {
    display: flex;
    margin: -5px 20px 20px 45px;
    column-gap: 7px;
  }

  .contacts {
    margin: 40px 20px 20px 45px;
  }

  .contacts span {
    color: #efefef;
    font-size: 12px;
    margin-left: 15px;
  }

  footer p {
    color: #efefef;
    font-size: 10px;
    margin: 50px 20px 20px 45px;
  }
}

/*===============================================================================================================*/

/*---------Tablet---------*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
  /*---------Header---------*/

  h1 {
    font-size: 32px;
  }
  .header_logo {
    margin: 22px 0 0 70px;
  }
  .course_duration_container {
    display: flex;
    margin: 45px 0 0 63px;
    font-size: 12px;
  }

  .globe,
  .clock,
  .calendar {
    padding: 10px;
  }

  .course_duration_container img {
    padding-right: 5px;
    width: 12px;
    height: 12px;
  }

  /*----------Section 1------------*/

  .header_1 {
    width: 350px;
    margin: 8px 0 0 70px;
    font-size: 46px;
  }

  .paragraph_1 {
    font-size: 12px;
    margin: 35px 0 0 70px;
    width: 30%;
  }

  .film_director_1 {
    width: 176px;
    height: 210px;
    position: relative;
    left: 570px;
    bottom: 180px;
    z-index: 2;
  }

  .film_director_1_shadow {
    width: 185px;
    position: relative;
    left: 410px;
    bottom: 165px;
  }

  .quote_container {
    font-size: 14px;
    background-color: #1e4681;
    width: 280px;
    min-width: 30%;
    height: 115px;
    color: #ffffff;
    margin: -100px 0 0 270px;
    border-radius: 3px;
    line-height: 20px;
  }

  .quote {
    padding: 10px;
  }

  .author_quote {
    padding-left: 125px;
    font-size: 12px;
  }

  /*---------Section 2----------*/

  .section_2,
  .section_3,
  .section_4,
  .section_5 {
    margin: 80px 0 0 70px;
  }

  .section_2 p,
  .section_2 h5 {
    font-size: 15px;
  }

  .section_2 p {
    width: 30%;
  }

  .container_1 p,
  .container_2 p,
  .container_3 p,
  .section_3_container {
    font-size: 11px;
  }

  .film_director_2 {
    position: absolute;
    top: 800px;
    left: 564px;
    width: 182px;
    height: 182px;
    z-index: 2;
  }

  .film_director_2_shadow {
    position: absolute;
    top: 960px;
    left: 540px;
    width: 220px;
  }

  .section_2_footer img {
    width: 134px;
    height: 118px;
    padding-right: 75px;
  }

  .section_2_footer {
    display: flex;
    line-height: 10px;
    flex-wrap: wrap;
  }

  .container_1,
  .container_2,
  .container_3 {
    max-width: 100px;
    padding-right: 50px;
    width: 60%;
  }

  /*----------Section 3------------*/

  .section_3 h5 {
    color: #1e4681;
    font-size: 15px;
  }

  .section_3_container {
    max-width: 190px;
  }

  .section_3_main_container {
    display: flex;
    column-gap: 70px;
  }

  /*----------Section 4----------*/

  .section_4 ul {
    font-size: 14px;
    margin-left: -23px;
    width: 370px;
  }

  /*-----------Section 5----------*/

  .main_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main_box img {
    width: 230px;
    height: 95px;
  }

  .box_1 {
    width: 230px;
    height: 190px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.25);
    margin-right: 38px;
    margin-top: 40px;
  }
  .box_1 p {
    font-size: 14px;
  }

  .box_1 h5 {
    font-size: 17px;
  }

  .box_1 h5,
  .box_1 p {
    margin: 5px 7px 5px 10px;
    line-height: 25px;
  }

  /*-----------Section 6----------*/

  .section_6 {
    height: 450px;
    background: #efefef;
    margin-top: 60px;
  }

  .section_6_header {
    padding: 40px 0 0 70px;
  }

  .section_6_container {
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    width: 458px;
    height: 261px;
    margin-left: 70px;
    min-width: 60%;
  }
  .section_6_container p {
    padding-left: 25px;
    padding-top: 10px;
    width: 400px;
    font-size: 12px;
    min-width: 85%;
  }

  .section_6_container img {
    width: 110px;
    height: 97px;
    padding: 20px 0 0 20px;
  }
  .section_6_container .facebook_logo {
    margin-left: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }

  .section_6_container h4 {
    margin: -80px 0 0 155px;
  }

  /*-----------Section 7-----------*/

  .section_7 {
    margin-top: -30px;
    background-color: #9dc9c8;
    height: 450px;
  }
  .section_7_header {
    padding: 40px 0 0 45px;
  }

  .section_7_paragraph_1 {
    font-size: 14px;
    padding: 20px 0 0 45px;
  }

  .section_7_paragraph_2 {
    font-size: 46px;
    margin-left: 45px;
  }

  .section_7_inner_container {
    display: flex;
    width: 340px;
    padding: 10px 0px 0 45px;
    column-gap: 30px;
    min-width: 50%;
  }

  .inner_container_1_paragraph_1,
  .inner_container_2_paragraph_1 {
    font-size: 14px;
  }

  .inner_container_1_paragraph_2,
  .inner_container_2_paragraph_2 {
    font-size: 10px;
  }

  /*--------Footer--------*/

  footer {
    background-color: #000000;
    height: 230px;
    margin-top: 1px;
  }

  .footer_logo {
    margin: 28px 20px 20px 70px;
    width: 65px;
    height: 40px;
  }

  .social_media {
    display: flex;
    margin: -5px 20px 20px 70px;
    column-gap: 7px;
    width: 20px;
    height: 20px;
  }

  .contacts {
    position: relative;
    bottom: 105px;
    left: 580px;
  }

  .contacts span {
    color: #efefef;
    font-size: 14px;
    margin-left: 15px;
  }

  footer p {
    color: #efefef;
    font-size: 10px;
    margin: 20px 20px 20px 70px;
  }
}
/*==============================================================================================================*/

/*--------Desktop---------*/

@media (min-width: 1280px) {
  /*---------Header---------*/
  body {
    overflow-x: hidden;
  }

  .header_logo {
    margin: 22px 0 0 120px;
  }
  .course_duration_container {
    display: flex;
    margin: 75px 0 0 113px;
    font-size: 20px;
  }

  .globe,
  .clock,
  .calendar {
    padding: 10px;
  }

  .course_duration_container img {
    padding-right: 5px;
    width: 22px;
    height: 21px;
  }

  /*----------Section 1------------*/

  .header_1 {
    width: 630px;
    margin: 8px 0 0 122px;
    font-size: 80px;
  }

  .paragraph_1 {
    width: 430px;
    font-size: 18px;
    margin: 15px 0 0 126px;
    line-height: 150%;
  }

  .film_director_1 {
    width: 310px;
    height: 360px;
    position: relative;
    left: 850px;
    bottom: 300px;
    z-index: 2;
  }

  .film_director_1_shadow {
    position: relative;
    left: 530px;
    bottom: 280px;
  }

  .quote_container {
    font-size: 25px;
    background-color: #1e4681;
    width: 455px;
    height: 220px;
    color: #ffffff;
    margin: -200px 0 0 430px;
    border-radius: 3px;
    line-height: 35px;
  }

  .quote {
    padding: 20px;
  }

  .author_quote {
    padding-left: 190px;
    font-size: 20px;
  }

  /*---------Section 2----------*/

  .section_2,
  .section_3,
  .section_4,
  .section_5 {
    margin: 80px 0 0 126px;
  }

  .section_2 h1 {
    font-size: 45px;
  }

  .section_2 p,
  .section_2 h5 {
    font-size: 25px;
  }

  .section_2 p {
    max-width: 642px;
  }

  .container_1 p,
  .container_2 p,
  .container_3 p,
  .section_3_container {
    font-size: 18px;
  }

  .film_director_2 {
    position: absolute;
    top: 1130px;
    left: 920px;
    width: 314px;
    height: 315px;
    z-index: 2;
  }

  .film_director_2_shadow {
    position: relative;
    bottom: 130px;
    left: 750px;
    width: 380px;
  }

  .section_2_footer img {
    width: 232px;
    height: 203px;
    padding-right: 105px;
  }

  .section_2_footer {
    display: flex;
    line-height: 16px;
    margin-top: 60px;
  }

  .container_1,
  .container_2,
  .container_3 {
    max-width: 160px;
    padding-right: 110px;
    padding-top: 40px;
  }

  /*----------Section 3------------*/

  .section_3 h1 {
    font-size: 45px;
    margin-top: 150px;
  }

  .section_3 h5 {
    color: #1e4681;
    font-size: 25px;
  }

  .section_3_container {
    max-width: 270px;
  }

  .section_3_main_container {
    display: flex;
    column-gap: 150px;
  }

  /*----------Section 4----------*/

  .section_4 h1 {
    font-size: 45px;
  }

  .section_4 ul {
    font-size: 24px;
    margin-left: -23px;
    max-width: 660px;
    line-height: 150%;
  }

  /*-----------Section 5----------*/

  .section_5 h1 {
    font-size: 45px;
  }

  .main_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main_box img {
    width: 340px;
    height: 120px;
  }

  .box_1 {
    width: 340px;
    height: 250px;
    background: #ffffff;
    border-radius: 40px;
    box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.25);
    margin-right: 38px;
    margin-top: 70px;
  }
  .box_1 p {
    font-size: 15px;
  }

  .box_1 h5 {
    font-size: 18px;
  }

  .box_1 h5,
  .box_1 p {
    margin: 20px 14px 5px 20px;
    line-height: 130%;
  }

  /*-----------Section 6----------*/

  .section_6 {
    height: 780px;
    min-width: 1280px;
    margin-top: 50px;
    background-color: #EFEFEF;
  }

  .section_6_header {
    padding-top: 70px;
    padding-left: 120px;
    font-size: 55px;
  }

  .section_6_container {
    border: 1px solid rgb(255, 255, 255);
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 790px;
    height: 450px;
    margin-left: 120px;
    min-width: 50%;
  }
  .section_6_container p {
    width: 700px;
    height: 203px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: -20px;
    min-width: 85%;
  }

  .section_6_container img {
    position: relative;
    left: 40px;
    top: -25px;
    width: 190px;
    height: 180px;
  }
  .section_6_container .facebook_logo {
    position: relative;
    left: 65px;
    top: -70px;
    width: 32px;
    height: 32px;
  }

  .section_6_container h4 {
    margin-left: 260px;
    margin-top: -150px;
  }

  /*-----------Section 7-----------*/

  .section_7 {
    display: flex;
    background-color: #9DC9C8;
    height: 780px;
    flex-direction: column;
    
  }
  .section_7_header {
    padding: 120px 0 0 120px;
    font-size: 55px;
  }

  .section_7_paragraph_1 {
    font-size: 25px;
    padding: 54px 0 0 120px;
  }

  .section_7_paragraph_2 {
    font-size: 80px;
    margin: -25px 0 0 120px;
  }

  .section_7_inner_container {
    display: flex;
    width: 660px;
    padding: 100px 0px 0 120px;
    column-gap: 45px;
    min-width: 50%;
  }

  .inner_container_1_paragraph_1,
  .inner_container_2_paragraph_1 {
    font-size: 25px;
  }

  .inner_container_1_paragraph_2,
  .inner_container_2_paragraph_2 {
    font-size: 18px;
  }

  /*--------Footer--------*/

  footer {
    background-color: #000000;
    height: 390px;
    margin-top: -5px;
  }

  .footer_logo {
    margin: 50px 20px 20px 120px;
    width: 115px;
    height: 70px;
  }

  .social_media {
    display: flex;
    margin: -5px 20px 20px 120px;
    column-gap: 25px;
    width: 33px;
    height: 33px;
  }

  .contacts {
    position: relative;
    bottom: 152px;
    left: 980px;
  }

  .contacts span {
    color: #efefef;
    font-size: 25px;
    margin-left: 22px;
  }

  footer p {
    color: #efefef;
    font-size: 18px;
    margin: 70px 20px 20px 120px;
  }
}
